
.modal-dialog {
    width: 70%;
}
#records {
  //border: 0px solid #dddddd;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#records th{
    border-width: 0px;
}
#records td{
    border-left-width: 0px;
    border-right-width: 0px;
}

